<div class="page-header">
  <h1>Your Tags</h1>
</div>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag), :class => "btn btn-default btn-xs #{css_class}" %>
<% end %>
