<div class="page-header">
  <h1>
    <%= link_to :back, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
    <% end %>
    <%= @tag %>
  </h1>
</div>

<%= render Photo.tagged_with(@tag, :on => :tags, :owned_by => current_user) %>
