<div class="page-header">
  <h1>Your Library</h1>
</div>

<div class="row spacer">
  <div class="col-md-12">
    <%= link_to new_photo_path, :class => "btn btn-primary btn-block btn-lg" do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </div>
</div>

<div class="row spacer">
  <%= render @photos %>
</div>
