/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.spacer {
  margin-top: 20px; /* define margin as you see fit */
}

.thumbnail .section {
  margin-bottom: 5px;
  height: 70px;
  width: 100%;
  overflow: scroll;
}

.tags {
  font-size: 150%;
  margin-bottom: 20px;
}

.css1 { font-size: 100%; }
.css2 { font-size: 125%; }
.css3 { font-size: 150%; }
.css4 { font-size: 200%; }
